{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block body %}
	<!--================ Start Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="banner_content">
							<h3 class="text-uppercase">Hello</h3>
							<h1 class="text-uppercase">I am Mohammed Hassaan</h1>
							<h5 class="text-uppercase">junior backend developer</h5>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="home_right_img">
							<img class="" src="{% static 'img/banner/home-right.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap">
		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-5">
					<div class="about_img">
						<img class="" src="{% static 'img/about-us.png' %}" alt="">
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="main_title text-left">
						<h2>let’s <br>
							Introduce about <br>
							myself</h2>
						{% for about in abouts %}
							<p>
								{{ about.subject }}
							</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Us Area =================-->

	<!--================ Srart Brand Area =================-->
	<section class="brand_area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="offset-lg-2 col-lg-4 col-md-6 mx-auto">
					<div class="client-info">
						<div class="d-flex mb-50">
							<span class="lage">3.5</span>
							<span class="smll">Years Experience Working</span>
						</div>
						<div class="call-now d-flex">
							<div>
								<span class="fa fa-phone"></span>
							</div>
							<div class="ml-15">
								<p>call us now</p>
								<h3>(+20)-1288585146</h3>
								<h3>(+20)-1000768747</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Brand Area =================-->

	<!--================ Start Features Area =================-->
	<section class="features_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>service offers </h2>
						<p>
							“You should name a variable using <br>
							the same care with which you name a first-born child.”
						</p>
					</div>
				</div>
			</div>
			<div class="row feature_inner">
				{% for service in services %}
					<div class="col-lg-3 col-md-6 mx-auto">
					<div class="feature_item">
						<img src="{{ service.icon.url }}" alt="">
						<h4>{{ service.name }}</h4>
						<p>{{ service.description }}</p>
					</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!--================ End Features Area =================-->

	<!--================Start Portfolio Area =================-->
	<section class="portfolio_area" id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title text-left">
						<h2>quality work <br>Recently done project </h2>
						<p>
							If you’re good at the debugger it means you spent a lot of time debugging.<br>
							I don’t want you to be good at the debugger.”
						</p>
					</div>
				</div>
			</div>	
			<div class="filters-content">
				<div class="row portfolio-grid justify-content-center">
					{% for project in projects %}
					<div class="col-lg-4 col-md-6 all latest">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<a href="{% url 'projects:project' project.slug %}" class="img-gal"><img class="img-fluid w-100" src="{{ project.image.url }}" alt=""></a>
							</div>
							<div class="short_info">
								<h4><a href="{% url 'projects:project' project.slug %}">{{ project.name }}</a></h4>
								<p>{{ project.category }}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<!--================End Portfolio Area =================-->
{% endblock %}