{% extends 'base.html' %}

{% block body %}
    <!--================ Start Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Portfolio</h2>
                    <div class="page_link">
                        <a href="index.html">Home</a>
                        <a href="portfolio.html">Portfolio</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Banner Area =================-->

	<!--================Start Portfolio Area =================-->
	<section class="portfolio_area section_gap_top" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main_title text-left">
                        <h2>quality work <br>
                            Recently done project </h2>
                    </div>
                </div>
            </div>

            <div class="filters-content">
				<div class="row portfolio-grid justify-content-center">
					{% for project in projects %}
					<div class="col-lg-4 col-md-6 all latest">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{{ project.image.url }}" alt="">
							</div>
							<div class="short_info">
								<h4><a href="{% url 'projects:project' project.slug %}">{{ project.name }}</a></h4>
								<p>{{ project.category }}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
        </div>
    </section>
    <!--================End Portfolio Area =================-->
    
{% endblock %}